@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.PublishedContent;
@{
	Layout = "_Layout.cshtml";
	ViewData["Title"] = @Model.Value("homeTitle");
}

  <section class="showcase container">
    <img src="/images/showcase-img-1.svg" class="img-left" alt="showcase-img-1">
    <div class="showcase-body">
        <h1>@Model.Value("homeHeadlineText")</h1>
        <p>@Model.Value("homeSubheadlineText")</p>
        <a class="btn-theme" href="#">
            <span class="btn-theme-left"></span>  
            <span class="btn-theme-right"></span>
            SHOP NOW
        </a>
    </div>
    <img src="/images/showcase-img-2.svg" class="img-right" alt="showcase-img-2">
</section>
<section class="featured-products">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                @{
	                var selection = Umbraco.Content(Guid.Parse("734cf942-2d2b-4e5f-824b-7f9840aaaed2"))
                                    .ChildrenOfType("productItem")
                                    .Where(x => x.IsVisible())
                                    .OrderByDescending(x => x.CreateDate);

                }

                	@foreach (var item in selection)
                	{
                        <div class="col">
                            <div class="card">
                                <div class="img">
                                    @{
                                        IPublishedContent productImageThumbnail = item.Value<IPublishedContent>("productPicture");
                                    }
                                    <img src="@productImageThumbnail.MediaUrl()" alt="product-image">
                                </div>
                                <div class="card-body">
                                    <p class="card-category">@item.Value("productCategory")</p>
                                    <h5 class="card-title">@item.Value("productName")</h5>
                                    <p class="card-rating">
                                        @{
                                            var sliderRating = item.Value<decimal>("singleValueSlider");
                                            
                                            if (sliderRating == 5){
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                            }
                                            else if (sliderRating == 4){
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-light fa-star-sharp"></i>
                                            }
                                            else if (sliderRating == 3){
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-light fa-star-sharp"></i>
                                                <i class="fa-light fa-star-sharp"></i>
                                            }
                                            else if (sliderRating == 2){
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-light fa-star-sharp"></i>
                                                <i class="fa-light fa-star-sharp"></i>
                                                <i class="fa-light fa-star-sharp"></i>
                                            }
                                            else if (sliderRating == 1){
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-light fa-star-sharp"></i>
                                                <i class="fa-light fa-star-sharp"></i>
                                                <i class="fa-light fa-star-sharp"></i>
                                                <i class="fa-light fa-star-sharp"></i>
                                            }
                                            else {
                                                <i class="fa-light fa-star-sharp"></i>
                                                <i class="fa-light fa-star-sharp"></i>
                                                <i class="fa-light fa-star-sharp"></i>
                                                <i class="fa-light fa-star-sharp"></i>
                                                <i class="fa-light fa-star-sharp"></i>
                                            }
                                        }
                                    </p>
                                    <p class="card-price">$@item.Value("productPrice")</p>
                                </div>
                            </div>
                        </div>
                	}
            </div>
        </div>
    </div>
</section>